html {
    padding: env(safe-area-inset);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body:after {
    content: "";
    display: block;
    z-index: -1;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(https://imgbbb.com/images/2020/08/28/background-img.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: height .4s ease;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 0 30px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    transition: background .4s ease;
    z-index: 16;
    box-shadow: 1px 0 8px 0 grey;
}

nav ul {
    display: flex;
    list-style: none;
    margin-bottom: 0;
}

nav ul li {
    height: 86px;
    display: flex;
    align-items: center;
    transition: background .4s ease;
    position: relative;
}

nav ul li:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 3px;
    margin: auto;
    background-color: #742c2c;
    transition: width .4s ease;
}

nav ul li:hover:after {
    width: 100%;
}

.navbar-collapse {
    flex-grow: 0;
}

nav ul li:hover {
    background-color: rgba(194, 194, 194, 0.34);
}

.navbar-collapse.show ul li:hover {
    background-color: #f8f9fa;
}

.navbar-collapse.show ul li:hover:after {
    background-color: #f8f9fa;
    width: 0;
}

nav ul a {
    text-decoration: none;
    text-transform: uppercase;
    color: #4c442d;
    padding: 30px 22px;
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

nav ul a:hover {
    text-decoration: none;
    color: #4c442d;
}

.navbar .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-decoration: none;
    color: #4c442d;
}

.navbar .logo span {
    font-family: 'Ruda', sans-serif;
    font-weight: 700;
    font-size: 20px;
    transition: color .3s ease;
    margin-left: 9px;
    color: #4c442d;
}

.navbar .logo img {
    transition: transform .3s ease;
    width: 70px;
    height: 70px;
}

.navbar .logo:hover img {
    transform: scale(1.1);
}

.navbar button {
    outline: none;
}

main {
    color: #4c442d;
}

.scrollFix {
    padding-top: 80px;
}

.banner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner .text {
    color: #f2f2f2;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: 72px;
    margin: 30px;
    text-align: center;
    background-color: rgba(146, 129, 113, .53);
}

.banner .text p {
    display: flex;
    flex-direction: column;
    padding: 45px 45px 0 45px;
}

.banner .text .scrolldown {
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
}

.banner .num {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    font-size: 22px;
    transition: color .2s ease;
    width: 250px;
    margin: auto;
    padding: 5px;
}

.banner .num img {
    height: 25px;
    width: 25px;
    margin-right: 7px;
    border-radius: 50%;
}

.banner .num:hover {
    text-decoration: none;
    color: #ffe7db;
}

.banner .text .scrolldown {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: center;
}

.banner .scrolldown .chevron {
    margin-left: 10px;
    display: block;
    height: 45px;
    fill: white;
    transition: transform .3s ease;
}

.banner .scrolldown {
    text-decoration: none;
}


.banner .scrolldown:hover .chevron {
    transform: translateY(5px);
}

.section {
    padding: 60px 0;
}

.desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.3;
}

.col-lg.desc-text {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}

.p1 {
    display: flex;
    flex-direction: row-reverse;
}

.p1 img {
    width: 100%;
    height: 413px;
    object-fit: cover;
}

.p2 {
    display: flex;
}

.p2 img {
    width: 100%;
    height: 413px;
    object-fit: cover;
}

.bgcolor-1 {
    background-color: #f2f2f2;
}

.bgcolor-2 {
    background-color: white;
}

.p3 {
    display: flex;
    flex-direction: row-reverse;
}

.p3 img {
    width: 100%;
    height: 413px;
    object-fit: cover;
}

#mainSlideshow .carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
    width: 350px;
    height: 467px;
    object-fit: cover;
}

.p5 .h1,
.p6 .h1,
.p7 .h1,
.p8 .h1,
.p9 .h1,
.p10 .h1,
.p11 .h1 {
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Ruda', sans-serif;
}

.p5 .h4 {
    font-weight: 400;
}

.p5 .check {
    height: 50px;
}

.p5 .row .col-md {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}

.p5 .row .col-md:hover {
    cursor: pointer;
}

#box, #toolkit, #hanger {
    height: 40px;
    width: auto;
    fill: #4c442d;
    transition: transform .3s ease;
}

.p5 .row .col-md:hover #box,
.p5 .row .col-md:hover #toolkit,
.p5 .row .col-md:hover #hanger {
    transform: scale(1.2);
}

.tool1 {
    fill: #4c442d9e;
}

.accordion .card {
    margin-bottom: 4px;
    padding: 15px;
    background-color: #f7f7f7;
    border: none;
}

.accordion .card .card-header {
    border: none;
    background-color: #f7f7f7;
}

.accordion .card .card-body {
    padding: 2.25rem;
}

.accordion .card .card-body ul {
    list-style-type: none;
}

.accordion .card .card-body ul li {
    position: relative;
    display: block;
    padding: 4px 9px 3px;
    font-size: 20px;
    font-weight: 400;
}

.accordion .card .card-body ul li:before {
    content: "-";
    position: absolute;
    left: 0;
}

.btn-link {
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    color: #4c442d;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-link:hover {
    color: #4c442d;
    text-decoration: none;
}

.btn-link:focus {
    box-shadow: none;
    text-decoration: none;
}

.btn:hover {
    text-decoration: none;
}

.card-body p {
    margin-left: 5px;
    display: flex;
}

.card-body p strong {
    font-size: 18px;
}

.card-body .price {
    color: green;
    font-weight: 400;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.card-body .price:hover {
    text-decoration: underline;
}

.p7 .row {
    margin-bottom: 30px;
}

.p7 .row .col-lg-6 {
    margin-bottom: 15px;
}

.p7 .name.h3 {
    margin-bottom: 0;
}

.employee {
    padding: 25px;
    height: 100%;
    background-color: white;
    font-weight: bold;
    object-fit: cover;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.employee .image-and-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
}

.employee .name {
    margin-left: 15px;
    color: #979797;
}

.employee .headline {
    margin-top: 15px;
    align-self: center;
    text-align: center;
}

.employee .img-circular {
    align-self: center;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    overflow: hidden;
}

.employee .img-circular img {
    width: 100%;
    height: auto;
}

#employee-pic1 {
    width: 150%;
    object-position: -15px -12px;
}

#employee-pic2 {
    object-position: 0 -5px;
}

#employee-pic3 {
    object-position: 0 -7px;
}

#employee-pic4 {
    object-position: 0 -6px;
}

.employee .description {
    font-size: 16px;
    font-weight: 500;
}

.employee .desc1 {
    margin-top: 15px;
    align-self: center;
}

.employee .desc1 p {
    padding: 15px;
    text-align: center;
    background-color: rgba(203, 203, 203, 0.63);
}

.employee .quote {
    margin-top: 15px;
    width: 100%;
}

.employee .quote p {
    font-style: italic;
}

.employee .quote .quote-author {
    display: flex;
    justify-content: flex-end;
}

.p8 #reviewSlider {
    background-color: #f2f2f2;
}

.p8 .comment {
    height: 550px;
    object-fit: cover;
    background-position: center;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.comment .quote {
    font-family: 'Catamaran', sans-serif;
    font-size: 80px;
    font-weight: bold;
    height: 70px;
    object-fit: cover;
    text-align: center;
    color: #6b6b6b;
}

.comment .text {
    padding: 0 120px;
    font-size: 22px;
    text-align: center;
}

.comment .avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.comment img.avatar {
    width: 115px;
    height: auto;
    border-radius: 50%;
    margin: auto auto 8px auto;
    display: block;
}

.comment .name {
    font-size: 22px;
}

.comment .name .date {
    font-size: 18px;
}

.p8 .carousel-control-next,
.p8 .carousel-control-prev {
    width: 50px;
}

.p8 .carousel-control-prev {
    background: linear-gradient(90deg, rgba(187, 187, 187, 1) 25%, rgba(158, 158, 158, 0) 100%);
}

.p8 .carousel-control-next {
    background: linear-gradient(270deg, rgba(187, 187, 187, 1) 25%, rgba(158, 158, 158, 0) 100%);
}

.p8 .carousel-control-next-icon {
    fill: black
}

#trendsSlideshow .carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
    height: 80vh;
    object-fit: cover;
    background-position: center;
    object-position: 0 -7px;
}

.p11 .row {
    margin-bottom: 15px;
}

.p11 .h3 p {
    text-align: center;
    margin-bottom: 60px;
}

.p11 form, .p9 form {
    padding: 0 90px;
    max-width: 600px;
    margin: auto;
}

.p11 form input:focus,
.p9 form input:focus,
.p11 form textarea:focus,
.p9 form textarea:focus {
    border-color: #ced4da;
    box-shadow: none;
}

.p11 .btn, .p9 .btn {
    background-color: #6f6242;
    border-color: #6f6242;
    display: block;
    margin: auto;
}

.p11 .btn:hover, .p9 .btn:hover {
    background-color: #4c442d;
    border-color: #4c442d;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    background-color: #423b27;
    border-color: #423b27;
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}

footer {
    background-color: #676767c2;
    color: white;
    padding: 60px 0;
}

footer .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .h1, footer .h3 {
    text-align: center;
}

footer .h1 {
    margin-bottom: 60px;
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
}

footer .h3 {
    margin-bottom: 45px;
}

footer .logo img {
    height: 120px;
    transition: transform .3s ease;
    filter: invert(100%) sepia(0%) saturate(26%) hue-rotate(25deg) brightness(106%) contrast(106%);
}

footer .logo:hover img {
    transform: scale(1.1);
}

footer .col-md {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .col-md:hover .phone-icon,
footer .col-md:hover .mail-icon {
    transform: scale(1.2);
}

footer .phone-icon, footer .mail-icon {
    margin-bottom: 15px;
}

footer .phone-icon {
    height: 27px;
    fill: #9a9a9a;
    transition: transform .4s ease;
}

footer .mail-icon {
    height: 25px;
    fill: #9a9a9a;
    transition: transform .4s ease;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

footer a {
    font-size: 18px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}


@media only screen and (max-width: 350px) {
    .navbar {
        padding: 0 15px;
    }

    .navbar .logo img {
        width: 60px;
        height: 60px;
    }

    .navbar .logo span {
        font-size: 16px;
    }
}

@media only screen and (max-width: 576px) {
    .banner .text {
        font-size: 18px;
    }

    .banner .text p {
        padding: 20px 20px 0 20px;
    }

    .banner .scrolldown .chevron {
        height: 20px;
    }

    .banner .text .num {
        font-size: 14px;
    }

    .banner .text .num img {
        width: 15px;
        height: 15px;
    }

    .scrollFix {
        padding-top: 45px;
    }

    .desc {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .p1 img, .p2 img, .p3 img {
        height: 290px;
    }

    #mainSlideshow .carousel-inner > .carousel-item > img,
    .carousel-inner > .carousel-item > a > img {
        height: 290px;
        object-fit: cover;
    }

    #box, #toolkit, #hanger {
        height: 35px;
        width: auto;
    }

    .h1 {
        font-size: 28px;
    }

    .p5 .h4 {
        font-size: 16px;
    }

    .p11 .h3 {
        font-size: 24px;
    }

    .accordion .card {
        padding: 0;
    }

    .card-header {
        padding: 8px;
    }

    .p6 .accordion .h5 {
        font-size: 14px;
    }

    .p6 .accordion strong,
    .p6 .accordion .price {
        font-size: 12px;
    }

    .btn-link {
        font-size: 14px;
    }

    .accordion .card .card-body ul li {
        font-size: 14px;
    }

    .accordion .card .card-body {
        padding: 10px 25px;
    }

    .p7 .row {
        margin-bottom: 0;
    }

    .p8 .comment {
        padding: 30px;
        height: 430px;
    }

    .p8 .text {
        padding: 0;
    }

    .p8 .comment .quote {
        font-size: 60px;
        height: 53px;
    }

    .p8 .comment .content {
        font-size: 14px;
    }

    .p8 .comment .avatar {
        width: 75px;
    }

    .comment .name {
        font-size: 18px;
    }

    .comment .date {
        font-size: 16px;
    }

    .p11 form, .p9 form {
        padding: 0 30px;
    }

    #trendsSlideshow .carousel-inner > .carousel-item > img,
    .carousel-inner > .carousel-item > a > img {
        height: auto;
    }

    footer .logo {
        display: flex;
        flex-direction: column;
    }

    footer .col-md {
        margin-bottom: 15px;
    }
}


@media only screen and (min-width: 576px) {
    .banner .text {
        font-size: 26px;
    }

    .banner .text p {
        padding: 30px 30px 0 30px;
    }

    .banner .scrolldown .chevron {
        height: 25px;
    }

    .banner .text .num {
        font-size: 16px;
    }

    .banner .text .num img {
        width: 17px;
        height: 17px;
    }

    .scrollFix {
        padding-top: 45px;
    }

    .desc {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .p1 img, .p2 img, .p3 img {
        height: 350px;
    }

    #mainSlideshow .carousel-inner > .carousel-item > img,
    .carousel-inner > .carousel-item > a > img {
        height: auto;
        object-fit: cover;
    }

    .p5 .h4 {
        font-size: 20px;
    }

    .p5 .check {
        margin-bottom: 10px;
    }

    .accordion .card {
        padding: 0;
    }

    .card-header {
        padding: 8px;
    }

    .p6 .accordion .h5 {
        font-size: 16px;
    }

    .p6 .accordion strong,
    .p6 .accordion .price {
        font-size: 14px;
    }

    .btn-link {
        font-size: 18px;
    }

    .accordion .card .card-body ul li {
        font-size: 18px;
    }

    .accordion .card .card-body {
        padding: 10px 25px;
    }

    .p7 .row {
        margin-bottom: 0;
    }

    .p8 .comment {
        padding: 30px;
        height: 470px;
    }

    .p8 .text {
        padding: 0 30px;
    }

    .p8 .comment .quote {
        font-size: 80px;
        height: 70px;
    }

    .p8 .comment .content {
        font-size: 16px;
    }

    .p8 .comment .avatar {
        width: 90px;
    }

    .comment .name {
        font-size: 18px;
    }

    .comment .date {
        font-size: 16px;
    }

    #trendsSlideshow .carousel-inner > .carousel-item > img,
    .carousel-inner > .carousel-item > a > img {
        height: auto;
    }

    footer .col-md {
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 768px) {
    .banner .text {
        font-size: 38px;
    }

    .banner .text p {
        padding: 45px 45px 0 45px;
    }

    .banner .scrolldown .chevron {
        height: 35px;
    }

    .banner .text .num {
        font-size: 20px;
    }

    .banner .text .num img {
        width: 23px;
        height: 23px;
    }

    .scrollFix {
        padding-top: 45px;
    }

    .desc {
        font-size: 1.6rem;
        margin-bottom: 30px;
    }

    .p1 img, .p2 img, .p3 img {
        height: 385px;
    }

    #mainSlideshow .carousel-inner > .carousel-item > img,
    .carousel-inner > .carousel-item > a > img {
        height: auto;
        object-fit: cover;
    }

    #box, #toolkit, #hanger {
        height: 35px;
    }

    .p5 .h4 {
        font-size: 14px;
    }

    .p5 .check {
        margin-bottom: 0;
    }

    .p6 .accordion .h5 {
        font-size: 16px;
    }

    .p6 .accordion strong,
    .p6 .accordion .price {
        font-size: 14px;
    }

    .accordion .card {
        padding: 0;
    }

    .card-header {
        padding: 8px;
    }

    .btn-link {
        font-size: 18px;
    }

    .accordion .card .card-body ul li {
        font-size: 18px;
    }

    .accordion .card .card-body {
        padding: 10px 25px;
    }

    .p7 .row {
        margin-bottom: 0;
    }

    .p8 .comment {
        padding: 45px;
        height: 500px;
    }

    .p8 .text {
        padding: 0 45px;
    }

    .p8 .comment .content {
        font-size: 18px;
    }

    .p8 .comment .avatar {
        width: 85px;
    }

    .comment .name {
        font-size: 18px;
    }

    .comment .date {
        font-size: 16px;
    }

    #trendsSlideshow .carousel-inner > .carousel-item > img,
    .carousel-inner > .carousel-item > a > img {
        height: auto;
    }

    footer .col-md {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 992px) {
    nav ul li {
        height: auto;
    }

    nav ul li a {
        padding: 7px;
        font-size: 14px;
    }
}

@media only screen and (min-width: 992px) {
    .banner .text {
        font-size: 50px;
    }

    .banner .text p {
        padding: 45px 45px 0 45px;
    }

    .banner .scrolldown .chevron {
        height: 45px;
    }

    .banner .text .num {
        font-size: 22px;
    }

    .banner .text .num img {
        width: 25px;
        height: 25px;
    }

    .scrollFix {
        padding-top: 80px;
    }

    .p1 img, .p2 img, .p3 img {
        height: 413px;
    }

    #mainSlideshow .carousel-inner > .carousel-item > img,
    .carousel-inner > .carousel-item > a > img {
        height: 467px;
        object-fit: cover;
    }

    #box, #toolkit, #hanger {
        height: 40px;
    }

    .p5 .h4 {
        font-size: 1.4rem;
    }

    .p5 .check {
        margin-bottom: 0;
    }

    .p6 .accordion .h5 {
        font-size: 1.25rem;
    }

    .p6 .accordion strong,
    .p6 .accordion .price {
        font-size: 18px;
    }

    .accordion .card {
        padding: 15px;
    }

    .card-header {
        padding: .75rem 1.25rem;
    }

    .btn-link {
        font-size: 24px;
    }

    .accordion .card .card-body ul li {
        font-size: 20px;
    }

    .accordion .card .card-body {
        padding: 2.25rem;
    }

    .p7 .row {
        margin-bottom: 30px;
    }

    .p8 .text {
        padding: 0 120px;
    }

    .p8 .comment .content {
        font-size: 18px;
    }

    .p8 .comment .avatar {
        width: 95px;
    }

    .comment .name {
        font-size: 20px;
    }

    .comment .date {
        font-size: 18px;
    }

    #trendsSlideshow .carousel-inner > .carousel-item > img,
    .carousel-inner > .carousel-item > a > img {
        height: auto;
    }

    footer .col-md {
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 1200px) {
    .banner .text {
        font-size: 72px;
    }

    .banner .text p {
        padding: 45px 45px 0 45px;
    }

    .banner .scrolldown .chevron {
        height: 45px;
    }

    .banner .text .num {
        font-size: 22px;
    }

    .banner .text .num img {
        width: 25px;
        height: 25px;
    }

    .p8 .comment {
        padding: 60px;
        height: 550px;
    }

    .p8 .text {
        padding: 0 120px;
    }

    .p8 .comment .content {
        font-size: 22px;
    }

    .p8 .comment .avatar {
        width: 115px;
    }

    .comment .name {
        font-size: 22px;
    }

    .comment .date {
        font-size: 18px;
    }

    #trendsSlideshow .carousel-inner > .carousel-item > img,
    .carousel-inner > .carousel-item > a > img {
        height: 80vh;
    }
}