html {
	scroll-behavior: smooth;
}

* {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.navbar {
	position: fixed;
	width: 100%;
	padding: 0 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	transition: background .4s ease;
	z-index: 2;
	box-shadow: 1px 0 8px 0 grey;
}

nav ul {
	display: flex;
	list-style: none;
	margin-bottom: 0;
}

nav ul li {
	height: 86px;
	display: flex;
	align-items: center;
	transition: background .4s ease;
}

.navbar-collapse {
	flex-grow: 0;
}

nav ul li:hover {
	background-color: #FADA3A;
}

.navbar-collapse.show ul li:hover {
	background-color: #f8f9fa;
}

nav ul a {
	text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 26px 22px;
    height: 100%;
	width: 100%;
    font-size: 23px;
    font-weight: bold;
}

nav ul a:hover {
	text-decoration: none;
	color: black;
}

.navbar .logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-self: center;
	align-items: center;
	text-decoration: none;
	color: black;
}

.navbar .logo span {
	font-weight: 500;
	font-size: 20px;
	transition: color .3s ease;
}

.navbar .logo img {
	transition: filter .3s ease;
	width: 70px;
	height: 70px;
}

.navbar .logo:hover span {
	color: #FADA3A;
}

.navbar .logo:hover img {
	filter: invert(80%) sepia(55%) saturate(594%) brightness(105%) contrast(96%);
}

main {
	background-color: #dedede61;
    color: #4c442d;
}

.scrollFix {
	padding-top: 80px;
}

.section-1 {
	height: 100vh;
	display: flex;
	justify-content: center;
	background-image: url(https://imgbbb.com/images/2020/07/22/Dve-lyustry-v-garderobnoj-komnate.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-position: center;
	background-size: cover;
	align-items: center;
	position: relative;	
}

.section-1 .text {
	color: #f2f2f2;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	font-size: 75px;
	margin: 30px;
	text-align: center;
	background-color: rgba(146, 129, 113, .53);
}

.section-1 .text p {
	display: flex;
	flex-direction: column;
	padding: 45px 45px 0 45px;
}

.section-1 .num {
	display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    font-size: 23px;
    transition: all .2s ease;
    width: 250px;
    margin: auto;
    padding: 5px;
}

.section-1 .num img {
	height: 25px;
	width: 25px;
	margin-right: 7px;
	border-radius: 50%;
}

.section-1 .num:hover {
	text-decoration: none;
	color: #ffe7db;
}

.section-1 .text .scrolldown {
	display: flex;
	flex-direction: row;
	color: white;
	align-items: center;
	justify-content: center;
}

.section-1 .scrolldown span {
	margin-top: 9px;
	margin-left: 10px;
	display: block;
  	width: 0;
  	height: 0;
  	border: 20px solid transparent;
  	border-top-color: white;
  	transition: all .3s ease;
}

.section-1 .scrolldown {
	text-decoration: none;
}


.section-1 .scrolldown:hover span {
	transform: translateY(8px);
}

.section {
	padding: 60px 0;
}

.desc {
	font-size: 1.75rem;
	font-weight: 500;
	line-height: 1.3;
}

.col-lg.desc-text {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.p1 {
	display: flex;
	flex-direction: row-reverse;
}

.p1 img {
	width: 100%;
	height: 413px;
	object-fit: cover;
}

.p2 {
	display: flex;
}

.p2 img {
	width: 100%;
	height: 413px;
	object-fit: cover;
}

.alt-bg {
	background-color: white;
}

.p3 {
	display: flex;
	flex-direction: row-reverse;
}

.p3 img {
	width: 100%;
	height: 413px;
	object-fit: cover;
}

#mainSlideshow .carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
    width: 350px;
    height: 467px;
	object-fit: cover;
}

.p5 .h1 p {
	text-align: center;
	margin-bottom: 60px;
}

.p5 .check {
	height: 50px;
}

.p5 .row .col-md {
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 15px;
	transition: all .3s ease;
}

.p5 .row .col-md:hover {
	cursor: pointer;
}

.p5 .row .col-md:hover #box, .p5 .row .col-md:hover #toolkit, .p5 .row .col-md:hover #hanger {
	transform: scale(1.2);
}

#box, #toolkit, #hanger {
	height: 40px;
	fill: #4c442d;
	transition: all .3s ease;
}

.tool1 {
	fill: #4c442d9e;
}

.p6 .h1 {
	text-align: center;
	margin-bottom: 60px;
}

.accordion .card {
	margin-bottom: 4px;
	padding: 15px;
	background-color: #f7f7f7;
	border: none;
}

.accordion .card .card-header {
	border: none;
	background-color: #f7f7f7;
}

.accordion .card .card-body {
	padding: 2.25rem;
}

.accordion .card .card-body ul {
	list-style-type: none;
}

.accordion .card .card-body ul li {
	position: relative;
    display: block;
    padding: 4px 9px 3px;
    font-size: 20px;
    font-weight: 500;
}

.accordion .card .card-body ul li:before {
	content: "-";
	position: absolute;
	left: 0;
}

.btn-link {
	font-size: 25px;
	font-weight: 500;
    color: #4c442d;
    text-decoration: none;
    width: 100%;
	display: flex;
	justify-content: space-between;
}

.btn-link:hover {
    color: #4c442d;
    text-decoration: none;
}

.btn-link:focus {
	box-shadow: none;
	text-decoration: none;
}

.btn:hover {
	text-decoration: none;
}

.btn-link .price {
	color: green;
	font-weight: 400;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.btn-link .price:hover {
	text-decoration: underline;
}

.p7 .h1 {
	text-align: center;
	margin-bottom: 60px;
}

.p7 .row {
	margin-bottom: 30px;
}

.p7 .row .col-lg-6 {
	margin-bottom: 15px;
}

.employee {
	padding: 25px;
	height: 100%;
	background-color: white;
	font-weight: bold;
	object-fit: cover;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.employee .headline {
	margin-top: 15px;
	align-self: center;
	text-align: center;
}

.employee .name {
	color: #979797;
}

.employee .img-circular {
	align-self: center;
	height: 90px;
	width: 90px;
	border-radius: 50%;
	overflow: hidden;
}

.employee .img-circular img {
	width: 100%;
	height: auto;
}

#employee-pic1 {
	width: 150%;
	object-position: -15px -12px;
}

#employee-pic2 {
	object-position: 0 -5px;
}

#employee-pic3 {
	object-position: 0 -7px;
}

#employee-pic4 {
	object-position: 0 -6px;
}

.employee .description {
	font-size: 16px;
	font-weight: 500;
}

.employee .desc1 {
	margin-top: 15px;
	align-self: center;
}

.employee .desc1 p {
	padding: 15px;
	text-align: center;
	background-color: rgba(203, 203, 203, 0.63);
}

.employee .quote {
	margin-top: 15px;
}

.employee .quote p {
	font-style: italic;
}

.employee .quote .quote-author {
	display: flex;
	justify-content: flex-end;
}

.comment .h4 {
	margin-bottom: 0;
}

.star {
  height: 20px;
  fill: orange;

}

.plus {
  height: 25px;
  fill: green;
  margin-right: 4px;
}

.minus {
  height: 25px;
  fill: #ff0000;
  margin-right: 4px;
}

.advantages {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages .headline {
	display: flex;
	flex-direction: row;
}

.advantages .content {
	padding-left: 29px;
	font-weight: 500;
}

.disadvantages {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.disadvantages .headline {
	display: flex;
	flex-direction: row;
}

.disadvantages .content {
	padding-left: 29px;
	font-weight: 500;
}

.comment .text {
	margin-top: 30px;
	padding-left: 29px;
}

.comment .text .content {
	font-weight: 500;
}

.star.gray {
	fill: gray;
}

#trendsSlideshow .carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
	height: 80vh;
	object-fit: cover;
	background-position: center;
	object-position: 0 -7px;
}

.p8 .h1 p {
	text-align: center;
	margin-bottom: 60px;
}

.p8 .row {
	margin-bottom: 15px;
}

.modal {
  	display: none;
  	position: fixed;
  	padding-top: 100px;
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: 100%;
  	overflow: auto;
  	background-color: rgba(0,0,0,0.9);
}

.modal-content {
  	margin: auto;
  	display: block;
  	width: 100%;
  	max-width: 850px;
}

.modal-content{
  	animation-name: zoom;
  	animation-duration: 0.6s;
}

@keyframes zoom {
  	from {transform:scale(0)}
  	to {transform:scale(1)}
}

.close {
  	position: absolute;
  	top: 15px;
  	right: 35px;
  	color: #f1f1f1;
  	font-size: 40px;
  	font-weight: bold;
  	transition: 0.3s;
}

.close:hover, .close:focus {
  	color: white;
  	text-decoration: none;
  	cursor: pointer;
}